.container {
  width: 100%;
  height: 100%;
  margin: 0;
  display: block;
}
h1 {
  display: block;
  text-align: center;
  letter-spacing: 1px;
  color: darkred;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 35px;
}
p {
  display: block;
  font-size: 22px;
  font-family: sans-serif;
  line-height: 30px;
  letter-spacing: 1px;
  color: black;
}
body {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  font-family: sans-serif;
  background: darkred;
}
.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 895px;
  padding: 20px;
  box-sizing: border-box;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 5px 15px black;
  transition: 0.5s;
}
.box:hover {
  box-shadow: 0 15px 30px rgb(0.5);
}
.imgbox {
  margin: 0;
  padding-bottom: 20px;
  padding-top: 20px;
}
.imgbox img {
  max-width: 100%;
}
.box .container {
  padding-left: 0;
}
.box .container h1 {
  margin: 0;
  padding-left: 0;
  padding-bottom: 20px;
  color: #006241;
  font-size: 35px;
  letter-spacing: 1px;
  font-family: sans-serif;
  font-weight: bold;
}
.box .container p {
  margin: 0;
  padding: 10px 0 0;
  text-align: left;
  font-size: 17px;
  font-family: sans-serif;
  line-height: 30px;
  letter-spacing: 1px;
  color: black;
}
#h1Robert {
  display: block;
  text-align: center;
  letter-spacing: 1px;
  color: rgb(63, 62, 62);
  font-family: sans-serif;
  font-weight: bold;
  font-size: 35px;
}
.boxRobert {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 895px;
  padding: 20px;
  box-sizing: border-box;
  background: rgb(73, 72, 72);
  border-radius: 4px;
  box-shadow: 0 5px 15px black;
  transition: 0.5s;
}
.imgboxRobert {
  margin: 0;
  padding-bottom: 20px;
  padding-top: 150px;
}
#imgRobert {
  width: 100%;
}
#bodyRobert {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  font-family: sans-serif;
  background: rgb(83, 83, 83);
}
